/***********************************/
/* HEADER */
/***********************************/

.header {
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.logo {
    height: 2.2rem;
}


/***********************************/
/* NAVIGATION */
/***********************************/

.main-nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #e67e22;
}

.nav-cta:link,
.nav-cta:visited {
    background-color: #e67e22;
    color: #fff;
    padding: 1rem 2.4rem;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.nav-cta:hover,
.nav-cta:active {
    background-color: #cf711f;
}


/* Sticky navigation bar */
.sticky .header{
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.97);
    position: fixed;
    top: 0;
    bottom: 0;

    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);

    z-index: 999;
}

.sticky .section-hero {
    margin-top: 9.6rem;
}

/* MOBILE */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    font-size: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

/***********************************/
/* HERO */
/***********************************/

.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;

    padding: 0 3.2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9.6rem;
}

.hero-img {
    width: 100%;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.delivered-meals {
    margin-top: 4.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.delivered-imgs {
    display: flex;
    align-items: center;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    margin-right: -1.6rem;

    border: 4px solid #fdf2e9;
}

.delivered-imgs img:last-child {
    margin: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.meals-number {
    color: #cf711f;
}


/***********************************/
/* FEATURED IN SECTION */
/***********************************/

.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 1.4rem;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 600;
    margin-bottom: 2.4rem;
    text-align: center;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.featured-logo {
    height: 3.2rem;
    filter: brightness(0);
    -webkit-filter: brightness(0);
    opacity: 50%;
}

/***********************************/
/* HOW IT WORKS SECTION */
/***********************************/

.section-how {
    padding: 9.6rem 0;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-img-box {
    /* background-color: #cf711f; */
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
    z-index: -1;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.step-img-box::before {
    padding: 30%;
    background-color: #fdf2e9;
}

.step-img-box::after {
    padding: 25%;
    background-color: #fae5d3;
}

.step-img-box .step-img {
    width: 35%;
}

/***********************************/
/* MEALS SECTION */
/***********************************/

.section-meals {
    padding: 9.6rem 0;
}

.meal {
    overflow: hidden;
    box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.075);
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.meal:hover {
    transform: translateY(-1.2rem);
    -webkit-transform: translateY(-1.2rem);
    -moz-transform: translateY(-1.2rem);
    -ms-transform: translateY(-1.2rem);
    -o-transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgb(0, 0, 0, 0.06);
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tag {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #ffd43b;
}

.meal-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal-img {
    width: 100%;
}

.meals-attributes {
    list-style: none;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.meals-attribute {
    font-size: 1.8rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
}

.meal-icon {
    font-size: 2.4rem;
    color: #e67e22;
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
}

.link:link,
.link:visited {
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid currentColor;
    padding-bottom: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.link:hover,
.link:active {
    color: #cf711f;
    border-bottom: none;
}

/***********************************/
/* TESTIMONIALS SECTION */
/***********************************/

.section-testimonials {
    background-color: #fdf2e9;

    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: flex-start;
}

.testimonials-content {
    padding: 9.6rem;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    margin-bottom: 1.2rem;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

    padding: 1.6rem;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/***********************************/
/* PRICING SECTION */
/***********************************/

.section-pricing {
    padding: 9.6rem 0;
}

.pricing-plan {
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    
    width: 75%;
}

.pricing-plan--starter {
    padding: 4.5rem;
    justify-self: end;
    border: 3px solid #fdf2e9;
}

.pricing-plan--complete {
    padding: 4.8rem;
    background-color: #fdf2e9;

    position: relative;

    overflow: hidden;
}

.pricing-plan--complete::after {
    content: "Best value";
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 10rem;
    text-transform: uppercase;
    position: absolute;
    top: 7%;
    right: -23%;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.plan-name {
    color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}

.plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}

.plan-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;
}

/* Features */
.plan-details {
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.6;

    margin-bottom: 9.6rem;
}


.feature-icon {
    color: #e67e22;
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    background-color: #fdf2e9;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.feature-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
}


/***********************************/
/* CTA SECTION */
/***********************************/

.section-cta {
    padding: 4.8rem 0 12.8rem 0;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e67e22;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    box-shadow: 0 1.8rem 6rem rgba(0, 0, 0, 0.2);
    
    overflow: hidden;
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem hsla(27, 83%, 95%, 0.5);
}

.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
}

.cta .heading-secondary {
    color: #45260a;
    margin-bottom: 3.2rem;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;

    border: none;

    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;

    background-color: #fdf2e9;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
    color: #aaa;
}

.cta-img-box {
    background-image: linear-gradient(to right bottom, hsla(28, 80%, 61%, 0.285), hsla(28, 80%, 52%, 0.345)), url(../img/eating.jpg);
    background-size: cover;
    background-position: center;
}



/***********************************/
/* FOOTER */
/***********************************/

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.social-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    
    margin-bottom: 2.4rem;
}

.social-icon {
    font-size: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;

    margin-top: auto;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}